# Soal No.3
Using Dataset C above, write a code with following requirements:

    a.	Your task is to create an automation (python script preferable) that convert JSON file above into three CSV files below:

In [1]:
import json
import csv
import pandas as pd

In [2]:
data = {}
data['file'] = [
   {
       "user": {
           "id": 1,
           "name": "agus",
           "email": "agus@example.com"
       },
       "txs": [
           {
               "id": 1,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 3,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 5,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "sell"
           }
       ]
   },
   {
       "user": {
           "id": 2,
           "name": "asep",
           "email": "asep@example.com"
       },
       "txs": [
           {
               "id": 2,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 4,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 6,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "buy"
           }
       ]
   }
]

In [3]:
with open('file.txt', 'w') as files:
    json.dump(data, files)

In [4]:
with open('file.txt', 'r') as files:
    data= json.load(files)

In [5]:
data= data['file']

In [6]:
data

[{'user': {'id': 1, 'name': 'agus', 'email': 'agus@example.com'},
  'txs': [{'id': 1,
    'tx_date': '2020-01-01',
    'tx_amount': 10,
    'tx_type': 'buy'},
   {'id': 3, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'buy'},
   {'id': 5, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'sell'}]},
 {'user': {'id': 2, 'name': 'asep', 'email': 'asep@example.com'},
  'txs': [{'id': 2,
    'tx_date': '2020-01-01',
    'tx_amount': 10,
    'tx_type': 'sell'},
   {'id': 4, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'sell'},
   {'id': 6, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'buy'}]}]

# csv_1

In [7]:
user_id = []
tx_id = []
for i in range(len(data[0]['txs'])):
    tx_id.append(data[0]['txs'][i]['id'])
    user_id.append(data[0]['user']['id'])

In [8]:
for i in range(len(data[1]['txs'])):
    tx_id.append(data[1]['txs'][i]['id'])
    user_id.append(data[1]['user']['id'])

In [9]:
user_id

[1, 1, 1, 2, 2, 2]

In [10]:
tx_id

[1, 3, 5, 2, 4, 6]

In [11]:
df = pd.DataFrame({'user_id':user_id,'tx_id':tx_id})

In [12]:
df

   user_id  tx_id
0        1      1
1        1      3
2        1      5
3        2      2
4        2      4
5        2      6

In [13]:
df.to_csv (r'C:\Users\hp\csv_1.csv', index = None)

# csv_2

In [14]:
Id = []
name = []
email= []
for i in range(len(data)):
    Id.append(data[i]['user']['id'])
    name.append(data[i]['user']['name'])
    email.append(data[i]['user']['email'])

In [15]:
df2 = pd.DataFrame({'Id':Id,'name':name, 'email':email})

In [17]:
df2

   Id  name             email
0   1  agus  agus@example.com
1   2  asep  asep@example.com

In [16]:
df2.to_csv (r'C:\Users\hp\csv_2.csv', index = None)

# csv_3

In [23]:
Id = []
tx_date = []
tx_amount= []
tx_type= []
for i in range(len(data[0]['txs'])):
    Id.append(data[0]['txs'][i]['id'])
    tx_date.append(data[0]['txs'][i]['tx_date'])
    tx_amount.append(data[0]['txs'][i]['tx_amount'])
    tx_type.append(data[0]['txs'][i]['tx_type'])

In [24]:
for i in range(len(data[1]['txs'])):
    Id.append(data[1]['txs'][i]['id'])
    tx_date.append(data[1]['txs'][i]['tx_date'])
    tx_amount.append(data[1]['txs'][i]['tx_amount'])
    tx_type.append(data[1]['txs'][i]['tx_type'])

In [25]:
df3 = pd.DataFrame({'Id':Id,'tx_date':tx_date, 'tx_amount':tx_amount, 'tx_type':tx_type})

In [26]:
df3

   Id     tx_date  tx_amount tx_type
0   1  2020-01-01         10     buy
1   3  2020-02-01         10     buy
2   5  2020-03-01         20    sell
3   2  2020-01-01         10    sell
4   4  2020-02-01         10    sell
5   6  2020-03-01         20     buy

In [27]:
df3.to_csv (r'C:\Users\hp\csv_3.csv', index = None)