# Soal No.1

Using Dataset A above, The table given to you cannot be updated, 
so if there is a change in the status of a transaction the new data is inserted instead of updating the status of the transaction, 
it will insert a new row with the same id and insert time based on the time when the row is inserted. You are assigned to create a view that only shows the most updated transactions for each id, 
so there is no duplicate id inside the view.

In [1]:
import pandas as pd
import numpy as np
import datetime
import sqlite3

In [2]:
conn = sqlite3.connect('python.db')

In [3]:
cur = conn.cursor()

# Create table
cur.execute(
    """CREATE TABLE IF NOT EXISTS transactions
    (id int,
    insert_time timestamp,
    tx_amount float,
    tx_type text, 
    status text)""")

# Insert a row of data
cur.execute("INSERT INTO transactions VALUES (1001, '2020-01-01 17:05:39', 10, 'Buy','Online')")
cur.execute("INSERT INTO transactions VALUES (1002, '2020-01-01 08:30:02', 10, 'Sell','Online')")
cur.execute("INSERT INTO transactions VALUES (1003, '2020-02-01 12:15:28', 10, 'Buy','Online')")
cur.execute("INSERT INTO transactions VALUES (1004, '2020-02-01 05:45:54', 10, 'Sell','Online')")
cur.execute("INSERT INTO transactions VALUES (1005, '2020-03-01 20:56:12', 20, 'Buy','Online')")
cur.execute("INSERT INTO transactions VALUES (1006, '2020-03-01 10:12:08', 20, 'Sell','Online')")

# Save (commit) the changes
conn.commit()

In [4]:
# Insert new datas

def insert_data(id, insert_time, tx_amount, tx_type, status):
    cur.execute('''INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status) VALUES(?, ?, ?, ?, ?)''',(id, insert_time, tx_amount, tx_type, status))
    conn.commit()

In [5]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%Y-%m-%d %H:%M:%S")

In [6]:
#Insert New Data

insert_data(1001, current_time, 10, 'Buy', 'Offline')
insert_data(1002, current_time, 10, 'Sell', 'Offline')
insert_data(1003, current_time, 10, 'Buy', 'Offline')
insert_data(1004, current_time, 10, 'Sell', 'Offline')
insert_data(1005, current_time, 20, 'Buy', 'Offline')
insert_data(1006, current_time, 20, 'Sell', 'Offline')

conn.commit()

In [7]:
query= '''SELECT * FROM transactions WHERE insert_time >= '2021-01-01 00:00:00' '''

In [8]:
df = pd.read_sql_query(query, conn)

In [9]:
df

     id          insert_time  tx_amount tx_type   status
0  1001  2021-06-26 18:36:51       10.0     Buy  Offline
1  1002  2021-06-26 18:36:51       10.0    Sell  Offline
2  1003  2021-06-26 18:36:51       10.0     Buy  Offline
3  1004  2021-06-26 18:36:51       10.0    Sell  Offline
4  1005  2021-06-26 18:36:51       20.0     Buy  Offline
5  1006  2021-06-26 18:36:51       20.0    Sell  Offline